body{
    
    background-color: #e6ecff;
}

div{
    font-family: Arial, Helvetica, sans-serif;
}

.top-login 
{
    height: 115px;
    width: 101%;
    background-color:#1e1af0;
    float: left;
    position: relative;
    left: -8px;
    top: -10px;

}
.top-title
{
   
    position: relative;
    left: 300px;
    top:25px;
}
#title
{
    font-size: 40px;
    color: #e6ecff;
}

.top-password
{
color: #e6ecff;    
text-align: right;
position: relative;
top: -145px;
left: -305px;
}
.text-password
{
text-align: right;
position: relative;
top: -164px;
left:-250px ;
}
.top-email
{
color: #e6ecff;    
text-align: center;
position: relative;
right: -250px;
top:-64px;
}
.text-email
{
    text-align: center;
    position: relative;
    right: -259px;
    top:-82px;
}
.text-foget
{
    color: blue;
    text-align: center;
    position: relative;
    right: -390.5px;
    top:-175px;
}
.login-btn
{
    text-align: right;
    position: relative;
    top: -235px;
    left: -195px;
    cursor: pointer;
    font-size: 10px;
}
